<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Aboutme</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern> /ckfinder/core/connector/java/connector.java </url-pattern>
  </servlet-mapping>
  <!-- error -->
    <error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/404.jsp</location>
	</error-page>
  <servlet>
    <servlet-name>IndexPublicController</servlet-name>
    <servlet-class>controller.IndexPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPublicController</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMessageController</servlet-name>
    <servlet-class>controller.SendMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageController</servlet-name>
    <url-pattern>/sendmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailPublicController</servlet-name>
    <servlet-class>controller.DetailPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailPublicController</servlet-name>
    <url-pattern>/chitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexAdminController</servlet-name>
    <servlet-class>controller.IndexAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexAdminController</servlet-name>
    <url-pattern>/admin/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexUsersAdminController</servlet-name>
    <servlet-class>controller.IndexUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexUsersAdminController</servlet-name>
    <url-pattern>/admin/nguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexNewsAdminController</servlet-name>
    <servlet-class>controller.IndexNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexNewsAdminController</servlet-name>
    <url-pattern>/admin/baiviet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexCatAdminController</servlet-name>
    <servlet-class>controller.IndexCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCatAdminController</servlet-name>
    <url-pattern>/admin/danhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexDanhNgonAdminController</servlet-name>
    <servlet-class>controller.IndexDanhNgonAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexDanhNgonAdminController</servlet-name>
    <url-pattern>/admin/danhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexDuAnAdminController</servlet-name>
    <servlet-class>controller.IndexDuAnAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexDuAnAdminController</servlet-name>
    <url-pattern>/admin/duan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexQuangCaoAdminController</servlet-name>
    <servlet-class>controller.IndexQuangCaoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexQuangCaoAdminController</servlet-name>
    <url-pattern>/admin/quangcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexLienHeAdminController</servlet-name>
    <servlet-class>controller.IndexLienHeAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexLienHeAdminController</servlet-name>
    <url-pattern>/admin/lienhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexDataVisualAdminController</servlet-name>
    <servlet-class>controller.IndexDataVisualAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexDataVisualAdminController</servlet-name>
    <url-pattern>/admin/datavisual</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddCatAdminController</servlet-name>
    <servlet-class>controller.ShowAddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddCatAdminController</servlet-name>
    <url-pattern>/admin/themdanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCatAdminController</servlet-name>
    <servlet-class>controller.AddCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCatAdminController</servlet-name>
    <url-pattern>/admin/xl-themdanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddNewsAdminController</servlet-name>
    <servlet-class>controller.ShowAddNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddNewsAdminController</servlet-name>
    <url-pattern>/admin/thembaiviet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddUsersAdminController</servlet-name>
    <servlet-class>controller.ShowAddUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddUsersAdminController</servlet-name>
    <url-pattern>/admin/themnguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddDanhNgonAdminController</servlet-name>
    <servlet-class>controller.ShowAddDanhNgonAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddDanhNgonAdminController</servlet-name>
    <url-pattern>/admin/themdanhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddDuAnAdminController</servlet-name>
    <servlet-class>controller.ShowAddDuAnAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddDuAnAdminController</servlet-name>
    <url-pattern>/admin/themduan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddQuangCaoAdminController</servlet-name>
    <servlet-class>controller.ShowAddQuangCaoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddQuangCaoAdminController</servlet-name>
    <url-pattern>/admin/themquangcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditThongTinAdminController</servlet-name>
    <servlet-class>controller.ShowEditThongTinAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditThongTinAdminController</servlet-name>
    <url-pattern>/admin/thongtin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexCatPublicController</servlet-name>
    <servlet-class>controller.IndexCatPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCatPublicController</servlet-name>
    <url-pattern>/danhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewsAdminController</servlet-name>
    <servlet-class>controller.AddNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsAdminController</servlet-name>
    <url-pattern>/admin/xl-thembaiviet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUsersAdminController</servlet-name>
    <servlet-class>controller.AddUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsersAdminController</servlet-name>
    <url-pattern>/admin/xl-themnguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDanhNgonAdminController</servlet-name>
    <servlet-class>controller.AddDanhNgonAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDanhNgonAdminController</servlet-name>
    <url-pattern>/admin/xl-themdanhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDuAnAdminController</servlet-name>
    <servlet-class>controller.AddDuAnAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDuAnAdminController</servlet-name>
    <url-pattern>/admin/xl-themduan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQuangCaoAdminController</servlet-name>
    <servlet-class>controller.AddQuangCaoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuangCaoAdminController</servlet-name>
    <url-pattern>/admin/xl-themquangcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelCatAdminController</servlet-name>
    <servlet-class>controller.DelCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCatAdminController</servlet-name>
    <url-pattern>/admin/xoadanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelNewsAdminController</servlet-name>
    <servlet-class>controller.DelNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNewsAdminController</servlet-name>
    <url-pattern>/admin/xoabaiviet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelUsersAdminController</servlet-name>
    <servlet-class>controller.DelUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUsersAdminController</servlet-name>
    <url-pattern>/admin/xoanguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelDanhNgonAdminController</servlet-name>
    <servlet-class>controller.DelDanhNgonAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDanhNgonAdminController</servlet-name>
    <url-pattern>/admin/xoadanhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelDuAnAdminController</servlet-name>
    <servlet-class>controller.DelDuAnAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDuAnAdminController</servlet-name>
    <url-pattern>/admin/xoaduan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelQuangCaoAdminController</servlet-name>
    <servlet-class>controller.DelQuangCaoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelQuangCaoAdminController</servlet-name>
    <url-pattern>/admin/xoaquangcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelLienHeAdminController</servlet-name>
    <servlet-class>controller.DelLienHeAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelLienHeAdminController</servlet-name>
    <url-pattern>/admin/xoalienhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexGioiThieuAdminController</servlet-name>
    <servlet-class>controller.IndexGioiThieuAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexGioiThieuAdminController</servlet-name>
    <url-pattern>/admin/gioithieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveController</servlet-name>
    <servlet-class>controller.ActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveController</servlet-name>
    <url-pattern>/admin/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexTimKiemController</servlet-name>
    <servlet-class>controller.IndexTimKiemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexTimKiemController</servlet-name>
    <url-pattern>/timkiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditCatAdminController</servlet-name>
    <servlet-class>controller.ShowEditCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditCatAdminController</servlet-name>
    <url-pattern>/admin/suadanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCatAdminController</servlet-name>
    <servlet-class>controller.EditCatAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCatAdminController</servlet-name>
    <url-pattern>/admin/xl-suadanhmuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditNewsAdminController</servlet-name>
    <servlet-class>controller.ShowEditNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditNewsAdminController</servlet-name>
    <url-pattern>/admin/suabaiviet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsAdminController</servlet-name>
    <servlet-class>controller.EditNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsAdminController</servlet-name>
    <url-pattern>/admin/xl-suabaiviet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditUsersAdminController</servlet-name>
    <servlet-class>controller.ShowEditUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditUsersAdminController</servlet-name>
    <url-pattern>/admin/suanguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUsersAdminController</servlet-name>
    <servlet-class>controller.EditUsersAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsersAdminController</servlet-name>
    <url-pattern>/admin/xl-suanguoidung</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowLoginController</servlet-name>
    <servlet-class>controller.ShowLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/admin/xl-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditGioiThieuAdminController</servlet-name>
    <servlet-class>controller.ShowEditGioiThieuAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditGioiThieuAdminController</servlet-name>
    <url-pattern>/admin/suagioithieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditGioiThieuAdminController</servlet-name>
    <servlet-class>controller.EditGioiThieuAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGioiThieuAdminController</servlet-name>
    <url-pattern>/admin/xl-suagioithieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditDanhNgonAdminController</servlet-name>
    <servlet-class>controller.ShowEditDanhNgonAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditDanhNgonAdminController</servlet-name>
    <url-pattern>/admin/suadanhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDanhNgonAdminController</servlet-name>
    <servlet-class>controller.EditDanhNgonAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDanhNgonAdminController</servlet-name>
    <url-pattern>/admin/xl-suadanhngon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditDuAnAdminController</servlet-name>
    <servlet-class>controller.ShowEditDuAnAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditDuAnAdminController</servlet-name>
    <url-pattern>/admin/suaduan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDuAnAdminController</servlet-name>
    <servlet-class>controller.EditDuAnAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDuAnAdminController</servlet-name>
    <url-pattern>/admin/xl-suaduan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditQuangCaoAdminController</servlet-name>
    <servlet-class>controller.ShowEditQuangCaoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditQuangCaoAdminController</servlet-name>
    <url-pattern>/admin/suaquangcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditQuangCaoAdminController</servlet-name>
    <servlet-class>controller.EditQuangCaoAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuangCaoAdminController</servlet-name>
    <url-pattern>/admin/xl-suaquangcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditThongTinAdminController</servlet-name>
    <servlet-class>controller.EditThongTinAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditThongTinAdminController</servlet-name>
    <url-pattern>/admin/xl-suathongtin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAllNewsAdminController</servlet-name>
    <servlet-class>controller.DelAllNewsAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAllNewsAdminController</servlet-name>
    <url-pattern>/admin/delallNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAllLienHeAdminController</servlet-name>
    <servlet-class>controller.DelAllLienHeAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAllLienHeAdminController</servlet-name>
    <url-pattern>/admin/delallLienHe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexSliderAdminController</servlet-name>
    <servlet-class>controller.IndexSliderAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSliderAdminController</servlet-name>
    <url-pattern>/admin/slider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAddSliderAdminController</servlet-name>
    <servlet-class>controller.ShowAddSliderAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddSliderAdminController</servlet-name>
    <url-pattern>/admin/themslider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSliderAdminController</servlet-name>
    <servlet-class>controller.AddSliderAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSliderAdminController</servlet-name>
    <url-pattern>/admin/xl-themslider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowEditSliderAdminController</servlet-name>
    <servlet-class>controller.ShowEditSliderAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditSliderAdminController</servlet-name>
    <url-pattern>/admin/suaslider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSliderAdminController</servlet-name>
    <servlet-class>controller.EditSliderAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSliderAdminController</servlet-name>
    <url-pattern>/admin/xl-suaslider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelSliderAdminController</servlet-name>
    <servlet-class>controller.DelSliderAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelSliderAdminController</servlet-name>
    <url-pattern>/admin/xoaslider</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>controller.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/admin/checkusername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewLienHeController</servlet-name>
    <servlet-class>controller.ViewLienHeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLienHeController</servlet-name>
    <url-pattern>/admin/xemlienhe</url-pattern>
  </servlet-mapping>
</web-app>